/* Global */

body {
    font-family: "Ubuntu";
    background: #32383D;
    color: #AAA;
    cursor: default;
    margin: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    background: #32383D;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #AAA;
}


/* Song */

songs {}

song {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    display: block;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.2s;
}

song:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: transparent;
}
