<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

  <title>Electro Music</title>

  <link rel="stylesheet" href="app.css">

  <script src="../node_modules/angular/angular.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="electro-music" ng-controller="MainController">
  <!-- Song list -->
  <div ng-if="!checking">
    <!-- Song -->
    <div class="song" ng-repeat="song in songs">
      <img src="../assets/img/music.png">
      <p><b>{{ song.tags.title }}</b></p>
      <div>{{ song.tags.artist }}</div>
    </div>
  </div>
</body>

</html>
