<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Electro Music</title>

  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">

  <script src="../node_modules/angular/angular.js"></script>
  <script src="app.js"></script>
</head>

<body ng-app="electro-music" ng-controller="MainController">

  <!-- Checking -->
  <h2 class="text-center" ng-if="checking">Gathering your music...</h2>

  <!-- Song list -->
  <ul class="list-group list-group-flush" ng-if="!checking">

    <!-- Song -->
    <li class="list-group-item bg-dark text-light" ng-repeat="song in songs">
      {{ song.name }}
    </li>
  </ul>
</body>

</html>
