/* Global */

body {
    font-family: "Ubuntu";
    background: #32383D;
    color: #AFAFAF;
    cursor: default;
    margin: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    background: #32383D;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background: #AFAFAF;
}

p {
    margin: 0;
    margin-bottom: 5px;
}


/* Song */

.song {
    border-top: 1px solid rgba(255, 255, 255, 0.02);
    width: 100%;
    padding: 15px;
    padding-left: 65px;
    transition: all 0.1s;
    box-sizing: border-box;
}

.song:first-of-type {
    border-top: none;
}

.song:last-of-type {
    border-bottom: 0;
}

.song:hover {
    background: rgba(255, 255, 255, 0.01);
    color: #EEE;
    border-color: transparent;
}

.song:active {
    background: rgba(255, 255, 255, 0.06);
}

.song div {
    font-size: smaller;
    opacity: 0.7;
}

.song img {
    width: 40px;
    position: absolute;
    left: 15px;
    opacity: 0.4;
}
